.footer {
  width: 100%;
  height: 80px;
  padding: 0.5rem;
  color: rgb(117, 84, 84);
  background-color: rgb(245, 231, 214);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  &--title {
    padding-bottom: 0.2rem;
  }
  &--div {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &--icon {
    color: rgb(117, 84, 84);
  }
}
