.section-projects {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem 2rem 1rem;

  &_h1 {
    padding-bottom: 1rem;
    font-size: 3.5rem;
    font-family: 'Kalam', cursive;
  }
  &_ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
